.post-view {
  width: 40vw;
  margin-left: 100px;
  margin-bottom: 60px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.post-view h2 {
  font-size: 18px;
  padding: 10px;
}

.post-view p {
  font-size: 16px;
  opacity: 0.75;
  padding: 10px;
}

.post-view img {
  height: 15vw;
  width: 15vw;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
  .post-view {
    width: 50vw;
    margin: auto;
    margin-bottom: 60px;
    margin-left: 100px;
  }

  .post-view img {
    height: 20vw;
    width: 20vw;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .post-view img {
    height: 25vw;
    width: 25vw;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .post-view {
    width: 80vw;
    margin: auto;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 750px) {
  .post-view img {
    height: 40vw;
    width: 40vw;
    margin: auto;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .post-view {
    width: 80vw;
    margin: auto;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .post-view img {
    height: 80vw;
    width: 90vw;
    margin: auto;
    margin-bottom: 20px;
  }
  .post-view {
    width: 90vw;
    margin: auto;
    margin-bottom: 60px;
  }
}
