.allpost_view {
  width: 45vw;
  margin-left: 100px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

@media only screen and (max-width: 1100px) {
  .allpost_view {
    width: 50vw;
    margin-left: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .allpost_view {
    width: 70vw;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 750px) {
  .allpost_view {
    width: 80vw;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .allpost_view {
    margin-left: 2px;
    width: 80vw;
  }
}
@media only screen and (max-width: 410px) {
  .allpost_view {
    margin-left: 2px;
    width: 80vw;
  }
}
