.react-player-controller-volume {
  display: flex;
  align-items: center;
}
.slider {
  height: 4px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
