.post-create {
  width: 40vw;
  margin-left: 100px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(235, 235, 240);
  min-height: 600px;
}
.post-create select {
  width: 100%;
}
.post-create input {
  width: 100%;
}
.post-create textarea {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .post-create {
    width: 80vw;
    margin: 5vw auto;
    border-bottom: 1px solid rgb(235, 235, 240);
    min-height: 600px;
  }
}
