.auth {
  display: flex;
  margin: 30vh 10vw;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30vw 2vw;
  }
}
