.home-title {
  width: 40vw;
  padding: 20px;
}
.home-title p {
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .home-title {
    width: 80vw;
    padding: 2vw;
    margin-bottom: 10vw;
  }
  .home-title h1 {
    font-size: 25px;
  }
}
