.password-forgot {
  display: flex;
  flex-direction: column;
}
.password-forgot-links {
  margin-top: 25px;
}
.password-forgot a {
  color: #000;
  margin-top: 30px;
  padding: 10px;
  font-weight: bold;
}
.password-forgot-message {
  margin-top: 10px;
  margin-left: 5px;
  color: red;
}
